* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  overflow: hidden;
  background-color: black;
}

.space {
  background-color: black;
  width: 1000px;
  height: 500px;
  position: relative;
  border-radius: 50px;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 50%;
}

.mercury-orbit {
  border: 2px solid blue;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 35%;
  left: 42.5%;
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  animation: rotateOrbit 3s linear infinite;
}

.venus-orbit {
  border: 2px solid blue;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 40%;
  animation: rotateOrbit 5s linear infinite;
}

.earth-orbit {
  height: 250px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 37.5%;
  animation: rotateOrbit 6s linear infinite;
}

.mars {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mars-orbit {
  height: 300px;
  width: 300px;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 35%;
  animation: rotateOrbit 7s linear infinite;
}

.jupiter {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17%;
  z-index: 1;
}

.jupiter-orbit {
  height: 380px;
  width: 380px;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: 31%;
  animation: rotateOrbit 8s linear infinite;
  z-index: 1;
}

.saturn-orbit {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border: 2px solid blue;
  position: absolute;
  animation: rotateOrbit 10s linear infinite;
  top: 5%;
  left: 27.5%;
}

.uranus-orbit {
  height: 470px;
  width: 470px;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 26.5%;
  animation: rotateOrbit 11s linear infinite;
}

.neptune-orbit {
  height: 510px;
  width: 510px;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 25%;
  animation: rotateOrbit 11s linear infinite;
}

/* img elements */
#sun {
  height: inherit;
  width: inherit;
  transform: scale(1.49);
}

#mercury {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

#venus {
  height: 25px;
  width: 25px;
  object-fit: contain;
  border-radius: 50%;
  position: absolute;
  top: 15%;
}

#earth {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  position: absolute;
  top: 25%;
}
#mars {
  height: 20px;
  transform: scale(1.5);
  position: absolute;
}

#jupiter {
  height: 50px;
  transform: scale(1.07);
  animation: rotatePlanet 8s linear infinite;
}

#saturn {
  height: 55px;
  border-radius: 40%;
  position: absolute;
  top: 12%;
  animation: rotatePlanet 10s linear infinite;
  z-index: 0;
}

#uranus {
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  animation: rotatePlanet 11s linear infinite;
}

#neptune {
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  animation: rotatePlanet 13s linear infinite;
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
