* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}

.space {
  background-color: black;
  width: 1000px;
  height: 500px;
  position: relative;
  border-radius: 50px;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 50%;
}

.mercury-orbit {
  border: 2px solid blue;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 35%;
  left: 42.5%;
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  animation: rotateOrbit 5s linear infinite;
}

.venus-orbit {
  border: 2px solid blue;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 40%;
  animation: rotateOrbit 5s linear infinite;
}

/* img elements */
#sun {
  height: inherit;
  width: inherit;
  transform: scale(1.49);
}

#mercury {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

#venus {
  height: 25px;
  width: 25px;
  object-fit: contain;
  border-radius: 50%;
  position: absolute;
  top: 15%;
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
